* {
	padding: 0;
	margin: 0;
}

html,body {
	background-color: #6E7889;
    font-family: 'Signika', sans-serif;
	color: #E6EBEE;
}

.card {
	background-color: #393B45;
	height: auto;
	width: 500px;
	margin: 10vh auto;
	border-radius: 25px;
	padding-bottom: 1px;
	box-shadow: 2px 2px 5px #e1b12c;
}

h1 {
	color: white;
	text-align: center;
	width: 100%;
	background-color: #E6EBEE;
	border-radius: 25px 25px 0 0;
	color: #393B45;
	padding: 30px 0;
	font-weight: 800;
	margin: 0;
}

.image-crop {
	display: block;
	position: relative;
	background-color: #E6EBEE;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 1px 1px 5px #e1b12c;
}

#avatar {
	display: inline;
	height: 230px;
	width: auto;
	margin-left: -34px;
}

#bio {
	display: block;
	margin: 30px auto;
	width: 430px;
	height: auto;
}

#bio p {
	color: #E6EBEE;
	font-weight: lighter;
	font-size: 15px;
	text-align: justify;
}

#stats {
	display: flex;
	flex-direction: row;
	height: auto;
	width: 280px;
	justify-content: space-between;
	margin: 0 auto;
	font-weight: 500;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
}

.stat {
	font-size: 25px;
	margin: 0;
}

.label {
	margin: 0;
}

.buttons {
	display: flex;
	margin: 0 auto;
  justify-content: center;
	width: 280px;
}

button {
	display: block;
	position: relative;
	padding: 10px 0;
	width: 130px;
	margin: 30px 0;
	border-radius: 25px;
	border: none;
	font-size: 20px;
	letter-spacing: 0.2px;
	font-weight: 500;
	background-color: #4069E2;
	color: #E6EBEE;
}

button:focus {
	display: none;
}

button:hover {
	transform: scale(1.03);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

#msg{
	background-color: #E6EBEE;
	color: #393B45;
}

a {
    text-decoration: none;
    color: #f1f1f1
}

.arabic {
    direction: rtl
}

h6 {
    color: #e84118
}

/* Style the Image Used to Trigger the Modal */
.myModalImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 300px;
    height: 200px;
  }
  
  .myModalImg:hover {
    opacity: 0.7;
  }
  
  /* The Modal (background) */
  .modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  #controls{
    display: none !important;
  }
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
   
    .card {
      background-color: #393B45;
      height: auto;
      width: 350px;
      margin: 3vh auto;
      border-radius: 0;
      padding-bottom: 1px;
    }

    .image-crop {
      display: block;
      position: relative;
      background-color: #E6EBEE;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      margin-top: 30px;
      overflow: hidden;
      border-radius: 50%;
    }
    
    h1 {
      color: white;
      text-align: center;
      width: 100%;
      background-color: #E6EBEE;
      border-radius: 0;
      color: #393B45;
      padding: 30px 0;
      font-weight: 800;
      margin: 0;
    }
    
    #avatar {
      display: inline;
      height: 230px;
      width: auto;
      margin-left: -34px;
    }
    
    #bio {
      display: block;
      margin: 30px auto;
      width: 280px;
      height: auto;
    }
    .arrow {
      margin: 5px;
      width: 40px;
      background-color: transparent;
    }
  
    #controls{
      display: block !important;
    }
  }
